body{
	background: pink;
}
#maindiv{
	background: aqua;
	justify-content: space-around;
	margin: 15%;
	border-radius: 5%;
	display: flex;
	

}
.subdiv{
	background: yellow;
	margin: 3%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width: 25%;
	height: 25%;
}
img{
	margin: 3%;
	border-radius: 4%; 
	
	
}
/*mobile view*/
@media screen and (max-width:480px) {
body{
	background: green;
}
#maindiv{
	background: blue;
	margin: 1%;
	display: inline-block;
	justify-content: space-around;
}
.subdiv{
	background: yellow;
	margin: 2%;
	border-radius: 8%;
	text-align: center;
	box-shadow: 2px 2px 2px 2px;
	width: 96%;
	height: 40%;
}
}
/*tablet view*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
body{
	background: yellow;
}
#maindiv{
	background: orange;
	margin: 3%;
	display: inline-block;
	justify-content: space-around;
}
.subdiv{
	background: bisque;
	margin: 2%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 2px 2px 2px 2px;
	width: 96%;
	height: 40%;
}
}