/*desktop view*/
body{
	background: orange;
}
#main{
	background: lightgreen;
	margin: 3%;
	display: flex;
	justify-content: space-around;
}
.leftdiv{
	background: pink;
	margin: 4%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width: 25%;
	height: 45%;
}


.rightdiv{
	background-color:blue;
	margin: 4%;
    border-radius: 10%;
    box-shadow: 4px 4px 4px 4px;
	
	width: 59%;
	padding: 2%;
}
img{
	
	margin: 3%;
	border-radius: 4%;
}
/*mobile view*/
@media screen and (max-width:480px) {
body{
	background: green;
}
#main{
	background: blue;
	margin: 1%;
	display: inline-block;
	justify-content: space-around;
}
.leftdiv{
	background: yellow;
	margin: 2%;
	border-radius: 8%;
	text-align: center;
	box-shadow: 2px 2px 2px 2px;
	width: 96%;
	height: 40%;
}
.rightdiv{
	background: red;
	margin: 2%;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px;
	width: 90%;
	padding: 2%;
}

}
/*tablet view*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
body{
	background: yellow;
}
#main{
	background: orange;
	margin: 3%;
	display: inline-block;
	justify-content: space-around;
}
.leftdiv{
	background: bisque;
	margin: 2%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 2px 2px 2px 2px;
	width: 96%;
	height: 40%;
}
.rightdiv{
	background: aqua;
	margin: 2%;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px;
	width: 90%;
	padding: 2%;
}



}